NAME=Osb
ID=osb
ID_LIKE={{.base_distro}}
VERSION="{{.project_version}}"
VERSION_ID={{.project_version}}
PRETTY_NAME="Osb Linux {{.project_version}} ({{.machine}})"
OSB_BASE_ID={{.base_distro}}
OSB_BASE_VERSION_ID={{.base_version}}
HOME_URL=https://github.com/osb/osb
